<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/Images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("head", required: false)
</head>
<body class="z-body">
    @RenderBody()  
    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/library")
    @Scripts.Render("~/bundles/easyui")
    @RenderSection("scripts", required: false)
</body>
</html>
